/* Set a max width for the card container to limit the number of cards per row */
.cardContainer {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }

  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    width: 100%;
  }
  