  select, input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;

  }

  button {
    padding: 10px;
    font-size: 16px;
    background-color: #0096ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #007acc;
  }
  

  .formContainer {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 30px;
    max-width: 40%;
    margin: 50px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
  }
  
  .formTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form hr {
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
  }
  
  .form .form-group {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .error {
    color: red;
    font-size: 0.8em;
  }
  
  @media (max-width: 768px) {
    .formContainer {
      padding: 20px;
    }
  }


  .error {
    color: red;
    font-size: 0.8em;
  }

  .successMessage {
    color: green;
    font-weight: bold;
  }
  
  