.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
  
  .detail {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 60%;
    margin-bottom: 1rem;
  }

  .detail img {
    max-width: 100%;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .content {
    font-size: 1rem;
    margin-bottom: 0rem;
    text-align: left;
    line-height: 1.5;
  }

  .searchButton {
    padding: 10px;
    font-size: 16px;
    background-color: #0096ff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .searchButton:hover {
    background-color: #007acc;
  }
  